<div class="container mt-4">
  <div class="text-right text-info">
    <small>Dados fornecidos por openweathermap</small>
  </div>
  <div class="text-center text-light bg-info border border-dark mb-3 rounded ">
      <h1 class="p-2 mb-0">Previsão do Tempo
        <div class="bg-light text-info rounded">{{cidade | titlecase}}</div>
      </h1>
  </div>
  <form class="form-group">
    <div class="row">
      <div class="col-9">
        <label class="sr-only" for="cidadeInput">Cidade:</label>
        <input class="form-control" type="text" id="cidadeInput" placeholder="Digite a cidade desejada aqui" #cidadeInput>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-info btn-block" (click)="callObterPrevisoes(cidadeInput.value)">Buscar</button>
      </div>
    </div>
  </form>
  <div class="row">
    <app-previsao class="col-lg-4 col-md-6 mb-2" *ngFor="let p of previsoes" [previsao]="p"></app-previsao>
  </div>
</div>
